body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

sidebar li {
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid lightgray
}